/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/stories/[category]/Category.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.Category_categoryPage__dqH_k {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf3e0; /* Fundo leve */
    min-height: 100vh;
    padding: 20px;
    position: relative;
  }
  
  /* Molduras laterais */
  .Category_borderLeft___ZLX_,
  .Category_borderRight__XRCJ_ {
    position: fixed;
    top: 0;
    height: 100vh;
    width: auto;
    z-index: 1; /* Para que fique atrás do conteúdo */
  }
  
  .Category_borderLeft___ZLX_ {
    left: -90px;
  }
  
  .Category_borderRight__XRCJ_ {
    right: -90px;
  }
  
  /* Desativar em dispositivos móveis */
  @media (max-width: 768px) {
    .Category_borderLeft___ZLX_,
    .Category_borderRight__XRCJ_ {
      display: none;
    }
  }
  
  /* Container do logo */
  .Category_logoContainer__zqnU5 {
    margin-bottom: 20px;
  }
  
  .Category_logoContainer__zqnU5 img {
    max-width: 200px;
    height: auto;
  }
  
  /* Cabeçalho */
  .Category_header__5aZqW {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Category_sectionHeading__H9ga8 {
    font-family: "League Spartan", sans-serif;
    font-size: 2rem;
    color: #444;
    font-weight: 600;
  }
  
  .Category_categoryName__VJci7 {
    color: #28c2a0; /* Destaque da categoria */
  }
  
  /* Container dos cartões */
  .Category_storiesContainer__rJlcn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    gap: 30px;
    width: 60%; /* Alinha os cards ao centro */
    margin-top: 20px;
  }
  
  /* Cartões das histórias */
  .Category_storyCard__5V9eV {
    background: white;
    border-radius: 20px;
    max-width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .Category_storyCard__5V9eV:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .Category_storyTitle__sZweC {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  /* Botão "Read More" */
  .Category_readMoreButton__3i2AB {
    padding: 10px 20px;
    background-color: #28c2a0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .Category_readMoreButton__3i2AB:hover {
    background-color: #1a9577;
  }
  
  /* Mensagem de erro */
  .Category_error___x3t8 {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
  }
  


  /* Paginação */
.Category_pagination__JQBPk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .Category_paginationButton__cltpu {
    padding: 10px 20px;
    background-color: #28c2a0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .Category_paginationButton__cltpu:disabled {
    background-color: #d3d3d3; /* Cinza claro para botões desativados */
    cursor: not-allowed;
  }
  
  .Category_paginationButton__cltpu:hover:enabled {
    background-color: #1a9577;
  }
  
  .Category_pageInfo__u45nl {
    font-size: 1rem;
    color: #444;
  }
  



  /* Botão Info */
.Category_infoButton__uk2CA {
    position: fixed;
    right: 250px;
    top: 30%;
    background: #ffffff00;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .Category_infoButton__uk2CA:hover {
    transform: scale(1.1);
    background-color: #f7f7f700;
  }
  
  .Category_infoButton__uk2CA img {
    width: 50px;
    height: 50px;
  }
  
  /* Modal Overlay */
  .Category_modalOverlay__MRfmB {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .Category_modalContent__vE2YF {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .Category_modalContent__vE2YF h2 {
    margin-bottom: 20px;
    font-family: "League Spartan", sans-serif;
    font-size: 1.5rem;
  }
  
  .Category_modalContent__vE2YF p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #444;
  }
  
  .Category_closeModalButton__90YCm {
    background-color: #f75b3c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .Category_closeModalButton__90YCm:hover {
    background-color: #c0442e;
  }
  
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/FAB.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.FAB_fabContainer___wJnH {
    position: fixed;
    bottom: 40px;
    right: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  
  /* Botão Principal */
  .FAB_mainFab__lKNMY {
    background-color: #ffffff; /* Cor principal */
    border: none;
    border-radius: 50%;
    width: 80px; /* Tamanho fixo */
    height: 80px; /* Tamanho fixo */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .FAB_mainFab__lKNMY:hover {
    transform: scale(1.1);
    background-color: #f7f7f7; /* Cor de hover */
  }
  
  /* Ícone Principal */
  .FAB_permacultIcon__n9iKE {
    width: 60px;
    height: 60px;
  }


    /* Ícone Principal */
    .FAB_icon__Z6rYP {
      width: 40px;
      height: 40px;
    }
  
  /* Botões Expandidos */
  .FAB_expandedButtons__EVXOw {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .FAB_fabButton__h9qyb {
    background-color: white;
    color: #28c2a0; /* Cor do ícone */
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .FAB_fabButton__h9qyb:hover {
    transform: scale(1.05);
    background-color: #f7f7f7;
  }
  
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/ModalStory.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.ModalStory_modalOverlay__RDUbz {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .ModalStory_modalContent__qOKBS {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
  }
  
  .ModalStory_closeButton__iaG7_ {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .ModalStory_modalTitle__fYyef {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .ModalStory_storyBody__Ssr9u {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
  }
  
  .ModalStory_actionButtons__JlCk1 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .ModalStory_actionButton__unjTC {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .ModalStory_actionButton__unjTC img {
    width: 100%;
    height: auto;
  }
  
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/ChatModal.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.ChatModal_chatModalOverlay__IISM8 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .ChatModal_chatModalContent__bLE5P {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .ChatModal_closeButton__J7xSs {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .ChatModal_chatModalTitle__fjawH {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .ChatModal_chatHistory__fjUqK {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .ChatModal_userMessage__3_rSe {
    text-align: right;
    color: #4caf50;
    margin: 10px 0;
  }
  
  .ChatModal_assistantMessage__UWQCt {
    text-align: left;
    color: #2196f3;
    margin: 10px 0;
  }
  
  .ChatModal_errorMessage__u8aBR {
    text-align: center;
    color: #f44336;
    margin: 10px 0;
  }
  
  .ChatModal_inputContainer__h_FxI {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .ChatModal_textInput__icaMz {
    flex-grow: 1;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .ChatModal_sendButton__Caid5 {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .ChatModal_sendButton__Caid5:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
  }
  
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/ModalInsights.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.ModalInsights_modalOverlay__zhCsw {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .ModalInsights_modalContent__8lcfU {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto; /* Scroll suave */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .ModalInsights_modalTitle____CKX {
    font-size: 1.8rem;
    color: #28c2a0;
    margin-bottom: 20px;
    text-align: center;
    font-family: "League Spartan", sans-serif;
  }
  
  .ModalInsights_insightsBody___U5vP {
    color: #444;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .ModalInsights_paragraph__YHZ1V {
    margin-bottom: 15px;
  }
  
  .ModalInsights_closeButton__2l_M5 {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .ModalInsights_closeButton__2l_M5 img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease;
  }
  
  .ModalInsights_closeButton__2l_M5 img:hover {
    transform: scale(1.1);
  }
  
  .ModalInsights_modalContent__8lcfU::-webkit-scrollbar {
    width: 8px;
  }
  
  .ModalInsights_modalContent__8lcfU::-webkit-scrollbar-thumb {
    background-color: #28c2a0;
    border-radius: 4px;
  }
  
