/* Estilização da página Welcome */
.welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #faf3e0; /* Cor de fundo suave */
    padding: 20px;
  }
  
  /* Título animado */
  .animatedTitle {
    font-size: 2rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #444; /* Texto em cinza suave */
    animation: fadeIn 1.5s ease-out;
  }
  
  /* Contador de histórias */
  .storyCount {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #80ac3b; /* Verde orgânico */
  }
  
  .storyCount span {
    font-weight: bold;
    font-size: 1.4rem;
    color: #f4b50b; /* Destaque em laranja */
  }
  
  /* Molduras laterais */
  .borderLeft,
  .borderRight {
    position: fixed;
    top: 0;
    height: 100vh;
    width: auto;
    z-index: 1; /* Para que fique atrás do conteúdo */
  }
  
  .borderLeft {
    left: -90px;
  }
  
  .borderRight {
    right: -90px;
  }
  
  /* Desativar em dispositivos móveis */
  @media (max-width: 768px) {
    .borderLeft,
    .borderRight {
      display: none;
    }
  }





/* Ajuste para o container do mapa/imagem */
.globeContainer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae8dc00;
  overflow: hidden;
}

/* Estilo para a imagem */
.worldImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}
  
  

  /* Botões de navegação */
  .buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
  
  .exploreButton,
  .sendButton {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .exploreButton {
    background-color: #80ac3b; /* Verde orgânico */
    color: white;
  }
  
  .exploreButton:hover {
    transform: scale(1.05);
    background-color: #5e7c2c;
  }
  
  .sendButton {
    background-color: #f4b50b; /* Laranja */
    color: white;
  }
  
  .sendButton:hover {
    transform: scale(1.05);
    background-color: #c9960b;
  }
  
  /* Animação de fadeIn */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  