/* Estilização da Splash Screen */
.splashContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf3e0; /* Fundo suave */
  z-index: 1000; /* Sempre acima de outros elementos */
}

/* Estilo do logo */
.logo {
  width: 60%;
  max-width: 300px;
  opacity: 0;
  animation: fadeIn 1.5s forwards ease-out;
}

/* Estilo do slogan */
.slogan {
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  opacity: 0;
  animation: fadeIn 1.5s 1.5s forwards ease-out; /* Delay de 1.5 segundos */
}

/* Animações de FadeIn e FadeOut */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDelay {
  animation-delay: 1.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Aplicar a transição para o fadeOut */
.fadeOut {
  animation: fadeOut 1.5s forwards ease-out;
}
